* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: unset;
  text-decoration: none;
  color: inherit;
  font: inherit;
  line-height: 1.25;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
